// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2025 GOcontroll B.V.
 * Author: Maud Spierings <maudspierings@gocontroll.com>
 */

/dts-v1/;

#include "imx8mp-tx8p-ml81-moduline-display-106.dtsi"

/ {
	model = "GOcontroll Moduline Display with HKC pc156cs01 display";

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 2000000 0>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight>;
		power-supply = <&reg_12v_backlight>;
		enable-gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;

		brightness-levels = <0 50 100>;
		default-brightness-level = <50>;
		num-interpolated-steps = <50>;
	};

	dsi86_clk: dsi86-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <27000000>;
	};

	reg_12v_backlight: regulator-12v-backlight {
		compatible = "regulator-fixed";
		regulator-name = "12v-backlight";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_12v_backlight>;
		gpio = <&gpio1 9 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_1v2_adapter: regulator-1v2-adapter {
		compatible = "regulator-fixed";
		regulator-name = "1v2-adapter";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		regulator-always-on;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_1v2_pgood>;
		interrupt-parent = <&gpio4>;
		interrupts = <15 IRQ_TYPE_LEVEL_LOW>;
		power-supply = <&reg_6v4>;
	};

	reg_1v8_adapter: regulator-1v8-adapter {
		compatible = "regulator-fixed";
		regulator-name = "1v8-adapter";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_1v8_pgood>;
		interrupt-parent = <&gpio4>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
		power-supply = <&reg_6v4>;
	};
};

&i2c4 {
	bridge@2d {
		compatible = "ti,sn65dsi86";
		reg = <0x2d>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_edp_en &pinctrl_edp_int>;

		enable-gpios = <&gpio4 14 GPIO_ACTIVE_HIGH>;

		interrupt-parent = <&gpio5>;
		interrupts = <5 IRQ_TYPE_LEVEL_HIGH>;

		vccio-supply = <&reg_1v8_adapter>;
		vcca-supply = <&reg_1v2_adapter>;
		vpll-supply = <&reg_1v8_adapter>;
		vcc-supply = <&reg_1v2_adapter>;

		clocks = <&dsi86_clk>;
		clock-names = "refclk";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
			reg = <0>;

				edp_bridge_in: endpoint {
					remote-endpoint = <&mipi_dsi_out>;
				};
			};

			port@1 {
			reg = <1>;

				edp_bridge_out: endpoint {
					remote-endpoint = <&panel_in_edp>;
				};
			};
		};

		aux-bus {
			panel {
				compatible = "edp-panel";
				backlight = <&backlight>;
				power-supply = <&reg_3v3_per>;
				
				port {
					panel_in_edp: endpoint {
						remote-endpoint = <&edp_bridge_out>;
					};
				};
			};
		};
	};
};

&lcdif1 {
	status = "okay";
};

&mipi_dsi {
	samsung,esc-clock-frequency = <12000000>;
	status = "okay";
	
	ports {
		port@1 {
			mipi_dsi_out: endpoint {
				remote-endpoint = <&edp_bridge_in>;
			};
		};
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&iomuxc {
	pinctrl_reg_12v_backlight: reg-12v-backlightgrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO09__GPIO1_IO09 /* COM pin 159 */
			MX8MP_DSE_X1
		>;
	};

	pinctrl_reg_1v2_pgood: reg-1v2-pgoodgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_TXD3__GPIO4_IO15 /* COM pin 112 */
			(MX8MP_PULL_UP | MX8MP_PULL_ENABLE)
		>;
	};

	pinctrl_reg_1v8_pgood: reg-1v8-pgoodgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXD6__GPIO4_IO08 /* COM pin 107 */
			(MX8MP_PULL_UP | MX8MP_PULL_ENABLE)
		>;
	};

	pinctrl_backlight: backlightgrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO04__GPIO1_IO04 /* COM pin 154 */
			MX8MP_DSE_X1
		>;
	};

	pinctrl_edp_en: edpengrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_TXD2__GPIO4_IO14 /* COM pin 113 */
			(MX8MP_PULL_UP | MX8MP_PULL_ENABLE)
		>;
	};

	pinctrl_edp_int: edpintgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_EXT_CLK__GPIO5_IO05 /* COM pin 146 */
			(MX8MP_PULL_UP | MX8MP_PULL_ENABLE)
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO01__PWM1_OUT /* COM pin 42 */
			MX8MP_DSE_X1
		>;
	};
};